/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
@import "variables";


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background-color: #f7f7f7;
	text-align: center;
}

.content{
	margin: 10px;
	font-family: Verdana;
	color: $main-color; 
	display: flex;
	flex-direction: column;
	.logo{
		max-width: 900px;
		margin: 0 auto;
		img{
			width:100%;
			height: 100%;
		}
	}
	h1{
		font-size: 1.3em;
	}
	h2{
		font-size: 2.2em;
		font-weight: bold;
		margin: 30px;
		@media (min-width: $tablet){
			text-transform: uppercase;
			color: #2a6144;
		}
	}
	button{
		height: 50px;
		background-color: #2a6144;
		color: $text-color;
		font-size: 1em;
		margin: 30px auto 0;
		width: 100%;
		max-width: 200px;
		padding: 0 20px;
		border-radius: 10px;
		border: 1px solid #1d442f;

		&:hover{
			background-color: #258753;
		}
	}
	p{
		margin: 20px;
		a{
			text-decoration: none;
		}
	}
	.three-col{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		.col {
			flex: 1;
			h3{
				text-transform: uppercase;
				font-size: 1.7em;
				font-weight: bold;
				margin-bottom: 10px;
			}
			img{
				height: 200px;
				margin: 20px;
			}
		}
	}
}
